@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
	--text: #555555;
	--text-h: #111111;
	--bg: #ffffff;
	--border: #e0e0e0;
	--accent: #333333;

	color-scheme: light dark;
	-webkit-font-smoothing: antialiased;
}

.dark {
	--text: #999999;
	--text-h: #f0f0f0;
	--bg: #111111;
	--border: #333333;
	--accent: #cccccc;
}

body {
	margin: 0;
	background: var(--bg);
	color: var(--text);
	font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}
